# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folder
build
bin
lib
3DVideos-distrib    

#datasets
MSR3DVideo-Ballet
MSR3DVideo-Breakdancers
mat
Middlebury
Balloons
Kendo
PoznanHall2
PoznanStreet
Shark
Paper
COLMAP-Ballet
COLMAP-Classroom
